.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card button:hover {
    opacity: 0.7;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #044e7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }