footer > div:nth-child(1) {
    background-color: #044e7f;
}

hr {
    width: 70px;
    background-color: #044e7f;
}

footer{
    background-color: #eeeff1;
}

footer > div.container.text-center.text-md-left.mt-5 > div > div.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4 > p > a,
footer > div.container.text-center.text-md-left.mt-5 > div > div.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4 > p > a {
    color: #7a858c;
}

footer > div.footer-copyright.text-center.py-3 > a > u {
    color: #044e7f;
}

footer > div:nth-child(1) > div > div,
footer > div:nth-child(1) > div > div > div.col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0 > h6 {
    color: #eeeff1
}